Table{
    text-align: center;
    table-layout: fixed;
}

Table#cardDecrypt{
    position:absolute;
    width:47%;
    top:1%;
    left:1%;
   
}

Table#cardEncrypt{
    position:absolute;
    width:47%;
    top:1%;
    right:1%;
    text-align: center;
    table-layout: fixed;
}    

td{
    vertical-align: middle;
    word-break:break-all;
    word-wrap:break-all;
    width:20%;
    height:50px;
    overflow: hidden;  
    white-space: nowrap;  
}
Table#cardEncrypt td.scroll{
    overflow-x:scroll;
}



