Table{
    text-align: center;
    table-layout: fixed;
}

Table#cardDecrypt{
    width:47%;
    float: left;
    margin-left:2%;
    margin-right:2%;
}

Table#cardEncrypt{

    width:47%;
    text-align: center;
    table-layout: fixed;
    margin-top:1%;
}    

td{
    vertical-align: middle;
    word-break:break-all;
    word-wrap:break-all;
    width:20%;
    height:50px;
    overflow: hidden;  
    white-space: nowrap;  
}
Table#cardEncrypt td.scroll{
    /* overflow-x:scroll; */
}



